path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.path { 
    fill: steelblue;
}
.d3y2 {
    stroke-dasharray: 5, 5;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 1vw;
}
.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;
}

.legend {
    font-size: 1vw;
    font-weight: bold;
    text-anchor: middle;
    cursor: pointer; cursor: hand;
}

.axisname {
    font-size: 1vw;
    font-weight: bold;
    text-anchor: middle;
}

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}

.dirnetw path.link {
    fill: none;
    stroke: #666;
    stroke-width: 2px;
}

.dirnetw circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.dirnetw text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

.networklink {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
}