path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}